


  <div class="col-sm-12">
    <div class="card_title">

      <span class="fa fa-search"></span>
      <input type="text" class="form-control my_input"
      placeholder="Search stories">
    </div>
        <div class="item-1">
          <div class="img-container">
              <a href="#"><img src="../assets/mypic.png" /></a>

            </div>
            <div class="robin-key">
              <p>Abhijeet Ghosal</p>

                <ul>
                  <li><i class="fa fa-check"></i></li>
                    <li><a href="#"><i class="fa fa-plus"></i></a></li>
                </ul>
            </div>

            <ul class="follow-list">

              <li><a href="#"><i class="fa fa-heart"></i> 150</a></li>
                <li><a href="#"><i class="fa fa-users"></i> 200</a></li>
                <li><a href="#"><i class="fa fa-building-o"></i> 80</a></li>
                <li><a href="#"><i class="fa fa-comments"></i> 120</a></li>
            </ul>
        </div>
        <div class="trends_content">
          <div class="twitter-widget">
            <p class="p_edit"> # Trends For You</p>

          </div>
          <div class="twitter-widget">
            <ul>
              <li>
                <div class="msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry	</div>
                <div class="time">
                  <i class="fa fa-twitter"></i>
                  Today
                </div>
              </li>
              <li>
                <div class="msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry	</div>
                <div class="time">
                  <i class="fa fa-twitter"></i>
                  1 days ago
                </div>
              </li>
              <li>
                <div class="msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry	</div>
                <div class="time">
                  <i class="fa fa-twitter"></i>
                  2 days ago
                </div>
              </li>
              <li>
                <div class="msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry	</div>
                <div class="time">
                  <i class="fa fa-twitter"></i>
                  3 days ago
                </div>
              </li>
              <li>
                <div class="msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry	</div>
                <div class="time">
                  <i class="fa fa-twitter"></i>
                  4 days ago
                </div>
              </li>
              <li>
                <div class="msg">Lorem Ipsum is simply dummy text of the printing and typesetting industry	</div>
                <div class="time">
                  <i class="fa fa-twitter"></i>
                  5 days ago
                </div>
              </li>

            </ul>
          </div>
        </div>
    </div>


